div{
    background-color:#ffee00;
    color:#0000aa;
    text-align:center;
    font-family:'Times New Roman';
    font-weight:bold; 
}

#px {
    padding: 2px;
    width: 500px;
    height:40px;
    font-size:30px;
}

#em {
    padding: 2em;
    width:20em;
    height:2em;
    font-size:2em;
}

#rem {
    padding: 2rem;
    width:20rem;
    height:2rem;
    font-size:2rem;
}

#porcentaje {
    padding: 10%;
    width:50%;
    height:10%;
    font-size:200%;
}